* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}
div.top-header {
  padding: 1%;
}

header {
  width: 100%;
  background-color: #eac926;
}

header div.logo {
  width: 50%;
}

header div.logo {
  padding: 10px;
}
header nav {
  font-size: 16px;
  width: 100%;
}

.nav-1 {
  margin: 0 auto 0 15px;
}

.nav-2 {
  margin: 0 40px 0 auto;
}

header ul li {
  list-style-type: none;
  margin: 16px;
  display: none;
}

header ul li a {
  text-decoration: none;
  color: #000;
}
header .form {
  width: 50%;
  margin: 0 4%;
}

header .form .input {
  display: flex;
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 8px;
  border-radius: 5px 0 0 5px;
  width: 80%;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header .form .submit {
  background-color: #fff;
  border: 1px solid #000;
  color: #666;
  width: 20%;
  height: 30px;
  border-radius: 0 5px 5px 0;
}

header div.top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

article {
  margin: 10px 0;
  width: 100%;
}

article div.main-article {
  border-top: 1px solid #ebebeb;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.price {
  font-size: 18px;
  width: 30%;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
}

h3,
.description {
  color: #666;
}

section.banner img {
  width: 100%;
}

main {
  width: 90%;
}

main section article {
  background-color: #fff;
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
}

/*Agregados ejercitación 1*/

.product-desc-box > .product-delivery-icon {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}
.product-desc-box {
  position: relative;
}

.description,
nav {
  display: none;
}

div .form {
  width: 90%;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
}

div .input {
  font-size: 16px;
}

div .submit > i {
  font-size: 20px;
}
.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.d-flex-c {
  display: flex;
  flex-direction: column;
}

.d-flex-r {
  display: flex;
  flex-direction: row;
}

/*Agregados ejercitación 2*/
.discount {
  width: 70%;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.top-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.top-header > .logo,
.top-header > .form {
  width: 48%;
}

header nav,
header nav ul {
  display: flex;
  flex-direction: row;
}

/*ESTILOS RESPONSIVE*/
/*Tablets*/
@media (min-width: 361px) {
  /*Agregados ejercitación 1*/
  .description {
    display: block;
  }

  nav {
    display: block;
    margin: 15px;
  }

  .burger-menu {
    display: none;
  }

  header ul li {
    display: block;
  }

  .description {
    font-size: 16px;
  }

  /*Agregados ejercitación 2*/

  .price,
  .discount {
    max-width: 40%;
    margin: 0 5px;
    font-size: 16px;
  }

  article {
    margin: 1%;
    width: 48%;
  }

  .top-header > .logo,
  .top-header > .form,
  header div.top-header p {
    width: 30%;
  }
}

/*Desktop*/
@media (min-width: 769px) {
  /*Agregados ejercitación 1*/
  article {
    width: 23%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  /*Agregados ejercitación 2*/
  .product-desc-box > .description {
    font-size: 20px;
  }

  header nav {
    font-size: 20px;
  }
}
